<h1 class="page">Stratégies par type de pokémon</h1>

<h2>Observation</h2>
<p>Il faut savoir que chaque Pokémon à des points d’Attaques, de Défenses et de Vitesse qui lui sont propres. Ces points évoluent
    avec les niveaux et les évolutions du Pokémon ou à l’aide d’objet. Explorez les caractéristiques pour chaque type d’Attaques
    et de Défense !</p>
<img class="round" src="../../../../assets/pictures/graph.png">

<h2>Type</h2>
<p>Tous les Pokémon ont au moins un type et ne peuvent pas en avoir plus de deux. Il existe aujourd’hui 18 types de Pokémon.
    Les types définissent les attaques et aptitudes que peut apprendre un Pokémon. Il faut savoir que les types interagissent
    entre eux. Par exemple, une attaque de type Eau va être critique contre un Pokémon de type Feu alors qu’un Pokémon de
    type Sol n’aura aucun impact sur un Pokémon de type Vol. Découvrez les interactions existantes entre les types !</p>
<img class="round" src="../../../../assets/pictures/round.png">