@import "init/variables";

:host {
    display: block;
    min-height: 180vh;
    padding: 0 15vw;
    background-color: white;

    &:before {
        background: url('../../../../../assets/pictures/background/salameche.png');
        background-size: 0vh;
        background-position: center center;
        background-repeat: no-repeat;
        transform: scaleX(-1);
    }

    p {
        line-height: 1.3em;
        font-size: 1.3em;
        padding: 0 30px;
    }

    .round {
        display: block;
        padding: 100px 0;
        width: 60vw;
        max-width: 100%;
        cursor: pointer;
    }
}
