@import "init/variables";

:host {
    display: block;
    min-height: calc(100vh - 78px);
    padding: 0 15vw;
    background: url('../../../../../assets/pictures/background/pikachu.png');
    background-size: 80vh;
    background-position: -100px center;
    background-repeat: no-repeat;
    background-color: white;

    .content {
        display: flex;
        justify-content: space-between;

        .text {
            display: flex;
            flex-direction: column;
            width: 30vw;
            height: 70vh;
            justify-content: space-around;

            p {
                line-height: 2em;
                font-size: 1.3em;
                text-align: right;
                overflow: scroll;
                margin: 30px;
            }
        }

        .side {
            display: block;
            margin: auto 0;
            

            img {
                width: 35vw;
                height: auto;
            }
            
        }
    }
}