<h1>C'est quoi pokémon</h1>
<div class="content">
  <div class="side">
    <img src="../../../../assets/pictures/about.png">
  </div>
  <div class="text">
    <p>
      Avant de devenir un phénomène planétaire, Pokémon est un jeu vidéo sorti en 1996 et créé par Satoshi Tajiri. Ce dernier imagine
      un monde où des créatures extraordinaires vivent : les Pokémon. L’objectif ? Vous incarnez un dresseur à la conquête de
      la ligue Pokémon et de tous les Pokémon. Ces derniers ont des propriétés extraordinaires comme par exemple cracher du feu
      comme Salamèche. Les Pokémons peuvent être attrapés par les dresseurs à l’aide de Pokéball, objet permettant de les miniaturiser
      et de les transporter pour ensuite les faire combattre lors de duel ou les exposer lors de concours par exemple.
    </p>
    
    <p>
      Les Pokémon sont capables d’évoluer, pour la plupart, en des formes plus avancées au fur et à mesure qu’ils progressent.
      Leurs progressions se fait en combattant, en concourant ou grâce au lien d’amitié avec leur dresseur. En effet, chaque
      Pokémon a un niveau d’attaques, de défenses et de vitesse. Plus le Pokémon concours, combat ou est proche de son dresseur,
      plus il monte en niveau. Il existe aussi des Pokémon Légendaires, des Pokémon rarissime et convoités par les dresseurs.
    </p>
  </div>
</div>
