@import 'init/variables';

:host {
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 78px;
    width: 100vw;
    padding: 20px 30px;
    background-color: $color-primary;
    justify-content: space-between;

    .left, .right {
        display: flex;
    }

    .sound {
        width: 40px;
        height: 30px;
        margin-right: 40px;
    }

    .pokedex {
        margin-right: 80px;
    }
}