@import 'init/variables';

:host {
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 78px;
    width: 100vw;
    padding: 20px 30px;
    background-color: $color-primary;
    justify-content: space-between;

    .left, .right {
        display: flex;
    }

    .pokeball, .pokedex {
        height: 37px;
        width: 37px;
        border-radius: 100%;
        background-color: red;
    }

    .music {
        height: 37px;
        width: 45px;
        background-color: blue;
    }

    .pokedex {
        margin-right: 100px;
    }
}