@import "init/variables";

:host {
    display: flex;
    width: 100vw;
    padding: 0 15vw;
    flex-direction: column;
    min-height: calc(100vh - 78px);

    h1 {
        display: block;
        margin: 0 auto;
        padding: 30vh 0;
        width: 45vw;
        height: 60vh;
        text-align: center;
        color: $color-primary;
        font-family: $font-ico;
        font-size: 6em;
        font-weight: bold; 
        text-transform: uppercase;
    }

    button {
        display: block;
        margin: auto;
        height: 52px;
        width: 266px;
        background: $gd-btn;
        color: $color-primary;
        font-family: $font-ico;
        font-size: 1.5em;
        text-transform: uppercase;
        border-radius: 50px;
        border: none;

        &:hover {
            cursor: pointer;
            background-color: $gd-btn;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            border: 5px solid $color-primary;
            transition: $transition;
        }
    }

    video#bgvid { 
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100vh;
        z-index: -10;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        margin: 40px 0;
    }
}